@model List<ResultReservationDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Rezervasyonlar</h4>
                            <p class="card-subtitle mb-4">Rezervasyon listesi.</p>
                            <table id="reservation-datatable" class="table table-centered table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Rezervasyon Numarası</th>
                                        <th>Ad-Soyad</th>
                                        <th>Telefon</th>
                                        <th>Email</th>
                                        <th>Durum</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr data-message="
                                                    <strong>Ad-Soyad:</strong> @item.Name @item.SurName<br>
                                                    <strong>Telefon:</strong> @item.Phone<br>
                                                    <strong>Email:</strong> @item.Email<br>
                                                    <strong>Rezervasyon Numarası:</strong> @item.ReservationID<br>
                                                    <strong>Teslim Alma Yeri:</strong> @item.PickUpLocationName<br>
                                                    <strong>Teslim Etme Yeri:</strong> @item.DropOffLocationName<br>
                                                    <strong>Araç:</strong> @item.BrandAndModel<br>
                                                    <strong>Doğum Tarihi:</strong> @item.BirthDate.ToShortDateString()<br>
                                                    <strong>Ehliyet Yılı:</strong> @item.DriverLicenseYear.ToShortDateString()<br>
                                                    <strong>Teslim Alma Tarihi:</strong> @item.PickUpDate.ToShortDateString() - @item.PickUpTime.ToString(@"hh\:mm")<br>
                                                    <strong>Teslim Etme Tarihi:</strong> @item.DropOffDate.ToShortDateString() - @item.DropOffTime.ToString(@"hh\:mm")<br>
                                                    <strong>Toplam Ücret:</strong> @item.DailyPrice<br><br>
                                                    <strong>Müşteri Notu:</strong> @item.Description">
                                            <td>
                                                <button class="btn btn-link p-0 ml-2 expand-icon" style="font-size: 16px;"><i class="fas fa-plus-circle"></i></button>
                                            </td>
                                            <td>@item.ReservationID</td>
                                            <td>@item.Name @item.SurName</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Email</td>
                                            <td>@item.Status</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
