<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Araçlar</span>
                    <h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            # @ViewBag.carCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">
                            @ViewBag.carCountRandom%
                            @if (@ViewBag.carCountRandom >= 50)
                            {
                                <i class="mdi mdi-arrow-up"></i>
                            }
                            else
                            {
                                <i class="mdi mdi-arrow-down"></i>
                            }
                        </span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.carCountRandom%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Markalar</span>
                    <h5 class="card-title mb-0 text-white">Toplam Marka Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            # @ViewBag.brandCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">
                            @ViewBag.brandCountRandom%
                            @if (@ViewBag.brandCountRandom >= 50)
                            {
                                <i class="mdi mdi-arrow-up"></i>
                            }
                            else
                            {
                                <i class="mdi mdi-arrow-down"></i>
                            }
                        </span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.brandCountRandom%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Lokasyonlar</span>
                    <h5 class="card-title mb-0 text-white">Toplam Lokasyon Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            # @ViewBag.locationCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">
                            @ViewBag.locationCountRandom%
                            @if (@ViewBag.locationCountRandom >= 50)
                            {
                                <i class="mdi mdi-arrow-up"></i>
                            }
                            else
                            {
                                <i class="mdi mdi-arrow-down"></i>
                            }
                        </span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.locationCountRandom%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Kiralama Ücreti</span>
                    <h5 class="card-title mb-0 text-white">Günlük Ortalama Kiralama</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            ₺ @ViewBag.d_AvgCarR_Price
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">
                            @ViewBag.d_AvgCarR_Price_Random%
                            @if (@ViewBag.d_AvgCarR_Price_Random >= 50)
                            {
                                <i class="mdi mdi-arrow-up"></i>
                            }
                            else
                            {
                                <i class="mdi mdi-arrow-down"></i>
                            }
                        </span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.d_AvgCarR_Price_Random%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>
