@model List<ResultContactDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;

}

<link href="~/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/datatables/responsive.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/datatables/buttons.bootstrap4.css" rel="stylesheet" type="text/css" />
<link href="~/plugins/datatables/select.bootstrap4.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gelen Mesajlar</h4>
                <p class="card-subtitle mb-4">İletişim kısmından gelen mesajlar.</p>

                <table id="basic-datatable" class="table dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>İsim</th>
                            <th>Konu</th>
                            <th>Email</th>
                            <th>Tarih</th>
                            <th>Mesaj</th>
                        </tr>
                    </thead>
                    <tbody>

                    @foreach (var item in Model)
                    {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.Name</td>
                                <td>@item.Subject</td>
                                <td>@item.Email</td>
                                <td>@item.SendDate.ToShortDateString()</td>
                                <td>@item.Message</td>
                            </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
