@model List<ResultCarWithBrandsDto>

@{
    ViewData["Title"] = "Araba Listesi";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Araba Listesi</h4>
                            <p class="card-subtitle mb-4">
                                Arabalarla ilgili ekleme, silme, güncelleme, arama ve listeleme gibi işlemleri bu sayfa üzerinden yapabilirsiniz.
                            </p>
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Marka</th>
                                            <th>Model</th>
                                            <th>Vites Türü</th>
                                            <th>Yakıt Türü</th>
                                            <th>Detaylar</th>
                                            <th>Fiyat Bilgileri</th>
                                            <th>Sitede Gör</th>
                                            <th>Sil</th>
                                            <th>Güncelle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.BrandName</td>
                                                <td>@item.Model</td>
                                                <td>@item.TransmissionType</td>
                                                <td>@item.FuelType</td>
                                                <td><a href="/Admin/AdminCarFeatureDetail/Index/@item.CarID" class="btn btn-outline-dark btn-sm">Özellikler</a></td>
                                                <td><a href="/Admin/AdminCarPricing/Index/@item.CarID" class="btn btn-outline-secondary btn-sm">Fiyat Bilgileri</a></td>
                                                <td><a href="/Carbook/Car/CarDetail/@item.CarID" class="btn btn-outline-warning btn-sm" target="_blank">Sitede Gör</a></td>
                                                <td><a href="/Admin/AdminCar/RemoveCar/@item.CarID" class="btn btn-outline-danger btn-sm btn-delete">Sil</a></td>
                                                <td><a href="/Admin/AdminCar/UpdateCar/@item.CarID" class="btn btn-outline-success btn-sm">Güncelle</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <a href="/Admin/AdminCar/CreateCar/" class="btn btn-outline-primary">Yeni Araç Girişi</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
